{% extends "users/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="col-sm-4 offset-sm-4 text-center borders mt-3">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group mb-3">
            <legend class="border-bottom mb-3 pb-1">Confirm password to continue</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn purple-btn" type="submit">Confirm password</button>
        </div>
    </form>
</div>
{% endblock content %}